/* CSS declarations go here */
$background: rgba(0, 0, 0, 0.75);
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1 0 auto;
  }
}

nav {
  background-color:  $background !important;
}


footer.page-footer {
  background-color:  $background !important;
}

Header a.active {
  font-weight: bold;
  text-decoration: underline;
}

Header a,
#login-buttons a {
  text-decoration: none;
  margin-right: 10px;
  color: inherit;
}

.accounts-ui {
  button {
    margin-right: 5px;
  }
  .social-buttons {
    button {
      margin-top: 5px;
    }
  }
  .password-or-service {
    margin: 5px;
    font-weight: bold;
  }
  a {
    margin: 5px;
  }
}